<div class="container">
    <div class="column">
        <button (click)="goToByFilter('Residential')" class="column-name">Residential</button>
        <button (click)="goToByFilter('House')" class="row">House</button>
        <button (click)="goToByFilter('Apartment')" class="row">Apartment</button>
        <button (click)="goToByFilter('Studio')" class="row">Studio</button>
    </div>
    <div class="column">
        <button (click)="goToByFilter('Commercial')" class="column-name">Commercial</button>
        <button (click)="goToByFilter('Office')" class="row">Office</button>
        <button (click)="goToByFilter('Hotel')" class="row">Hotels</button>
        <button (click)="goToByFilter('Space')" class="row">Commercial Space</button>
    </div>
</div>
