/* register.component.scss */
.register-container {
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 150px auto 0; /* Aliniază containerul la mijlocul paginii și adaugă margin-top */
  background-color: #8B8B8B;
  width: 60%; /* Setează latimea containerului */
  max-width: 600px; /* Setează o latime maxima pentru container */
  padding: 40px !important;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      label {
        font-weight: bold;
        margin-right: 10px;
      }

      input {
        flex: 1;
        font-size: 20px !important;
      }
    }

    .name-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;

    }

    button {
      margin-top: 20px;
    }

    .register-button-group {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
      color: white;
      font-size: 20px !important;

      p {
        font-size: 1rem !important;
      }

      //button {
      //  margin-left: 10px;
      //}
    }
  }
}

.login-link {
  align-self: flex-end;
  margin-left: -250px !important;

  a {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-size: 1rem !important;
  }

}


.login-btn {
  background-color: white !important;
  color: #8B8B8B !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  font-size: 26px !important;
  margin-top: -2px !important;
}

.error-message {
  color: pink;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}
