<footer class="text-lg-start  footer ">

    <div class="footer-overlay columns">


        <div class="col">
            <div class=" row-1 text-large">450</div>
            <div class=" row-2">Happy clients</div>
        </div>
        <div class="col">
            <div class=" row-1 text-large">500</div>
            <div class="row-2">Finished projects</div>
        </div>
        <div class="col">
            <div class=" row-1 text-large">300</div>
            <div class=" row-2">Working days</div>
        </div>
    </div>

    <div class="container p-4">

        <div class="row">

            <div class="text-footer">
                <p>London</p>
                <p>12 Hay Hill, Mayfai</p>
                <p>W1J 8NR </p>
                <p>Phone: +44 20 3322 7132</p>
            </div>
        </div>
    </div>


    <section
            class="justify-content-center text-center  justify-content-lg-between p-4 border-bottom ">

        <div>
            <a class="me-4 text-reset c">
                <fa-icon [icon]="faTwitter" class="fa-d fa-xl"></fa-icon>
            </a>
            <a class="me-4 text-reset c ">
                <fa-icon [icon]="faFacebook" class="fa-d fa-xl"></fa-icon>
            </a>
            <a class="me-4 text-reset c ">
                <fa-icon [icon]="faInstagram" class="fa-d fa-xl"></fa-icon>
            </a>

            <a class="me-4 text-reset c">
                <fa-icon [icon]="faLinkedin" class="fa-d fa-xl"></fa-icon>
            </a>
            <a class="me-4 text-reset c">
                <fa-icon [icon]="faYoutube" class="fa-d fa-xl"></fa-icon>
            </a>
            <a class="me-4 text-reset c">
                <fa-icon [icon]="faTumblr" class="fa-d fa-xl"></fa-icon>
            </a>
            <a class="me-4 text-reset c">
                <fa-icon [icon]="faTiktok" class="fa-d fa-xl"></fa-icon>
            </a>

        </div>
    </section>
    <div class="text-center p-4" style="background-color: #838080;color:white">© Copyright 2023 All rights reserved |
        Pop Ruxandra Maria
    </div>
</footer>
